extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 CNL

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            |Technical Specialist with  for two years, now seasoned with a year studying FSJS online together provide a solid foundation of quality work as an entry level developer.  
            br
            br 
            |⍟ Available to work as part of a team or independently ⍟
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Express
          li Dedicated Detailed Diagnosing &amp; Debugging
          li Node.js
          li Technical Literacy
          li Solution Focused Approach
        h6 Contact Info

        ul
          li Annon@noemail.com

        a.button.expanded(href="https://github.com/CNLARS", target="_blank", title="CNLARS GitHub") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  